{% extends "pets/_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
<section class="container">
    <h3 class="text-center my-4">Reset your password</h3>
    {% if validlink %}
    <p class="text-center">Please enter your new password twice:</p>
    <form novalidate method="post" style="width: 100%; max-width: 500px" class="mx-auto">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary d-block mx-auto" value="Change password">
    </form>
    {% else %}
    <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</section>
{% endblock content %}