{% extends "pets/_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
<section class="container">
    <h3 class="text-center my-4">Forgotten your password?</h3>
    <p class="text-center">Enter your e-mail address to obtain a new password</p>
    <form novalidate method="post" style="width: 100%; max-width: 500px" class="mx-auto">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary d-block mx-auto" value="Send e-mail">
    </form>
</section>
{% endblock content %}